@font-face {
    font-family: 'Raconteur-NF';
    src:url('font/Raconteur-NF.ttf.woff') format('woff'),
        url('font/Raconteur-NF.ttf.eot') format('svg'),
}

/*stranka*/

.html{
    min-width: 800px;
}

.karticky{
    font-family: "Raconteur-NF";
    padding-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    min-width: 40em;
}

@media (max-width: 768px) {
    .karticky {
        flex-direction: column;
        gap: 10px;
        min-width: 100%; /* Zajistí, že se přizpůsobí šířce obrazovky */
    }
}

a:visited, a:hover, a:focus {
    text-decoration: none;
    color: #000;
}

.background{
    width: 100%;
    background-image: url('cats.jpg');
    background-repeat:repeat;
    background-size: auto;
}

.body1{
    margin-bottom: 40px;
}

.popis{
    max-width: 500px;
    padding: 2em;
    background-color: white;
    background-repeat:repeat;
    background-size: 50%;
    border: #000 1.5px solid;
    border-radius: 40px;
}

.body2{
    max-width: 300px;
    padding: 2em;
    background-color: white;
    background-repeat:repeat;
    background-size: 50%;
    border: #000 1.5px solid;
    border-radius: 40px;
}

.nadpis
{
    text-align: center;
    font-size: 2rem;
    margin-top: 2rem;
}

.card-body{
    gap: 30px;
    text-align: center;
}

.card-body2{
    margin-bottom: 5px;
    gap: 30px;
    text-align: center;
}

.card-body1{
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    flex-grow: 2;
}

.spantypeshit{
    padding-bottom: 0.5em;
    margin-bottom: 0.3em;
    padding-top: 1.5em;
    font-size: 1.5rem;
}

.god{
    margin: 0.7em;
    text-decoration-line: underline;
}

.creations{
    margin: 0.7em;
    text-decoration-line: overline;
}

.karticky2{
    font-family: "Raconteur-NF";
    padding-top: 3rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 20px;
    justify-self: center;
}

.body1_1{
    margin-bottom: 40px;
}

.body2_2{
    max-width: 800px;
    padding: 2em;
    background-image: url('cats.jpg');
    background-repeat:repeat;
    background-size: 50%;
    border: #000 3px dashed;
}

/*welcome img*/

.welcome{
    display: flex;
    justify-content: center;
    align-items: center;
}


.welcoma{
    width: 100%;
    height: auto;
}

/*vzdy na obrazovce*/

.absolute1{
    position :fixed;
    right: 30px;
    height: 10vh
}

.imgabsolute1{
    width: 100%;
    max-width: 8rem;
    height: auto;
}

.absolute2{
    position :fixed;
    right: 30px;
    top: 300px;
    height: 10vh
}

.imgabsolute2{
    width: 100%;
    max-width: 8rem;
    height: auto;
}

.absolute3{
    position :fixed;
    right: 150px;
    top: 250px;
    height: 10vh
}

.imgabsolute3{
    display: block;
    width: 8em;
}

